.noel {
    background-image: url(x-mas.jpg);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Exo', sans-serif;
    position: relative;
    p {
        margin: 0;
        padding: 0;
    }
    h1 {
        font-family: 'Spirax', cursive;
        font-size: 40px;
        color: #fff;
        margin: 0 0 20px;
        word-spacing: 15px;
        letter-spacing: 2px;
        z-index: 99;
        position: relative;
    }
    &__backdrop {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(to right bottom, #720103, #83050b, #950912, #a70e18, #b9131f);
        opacity: 0.2;
    }
    &__day {
        width: 100px;
        height: 100px;
        box-sizing: border-box;
        border-radius: 100%;
        border: 3px solid rgba(255, 255, 255, 0.9);
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        span {
            &:first-child {
                font-size: 35px;
                font-weight: bold;
                margin-bottom: -5px;
            }
            &:last-child {
                font-size: 22px;
            }
        }
    }
    &__day, &__hour, &__minute, &__second {
        width: 100px;
        height: 100px;
        box-sizing: border-box;
        border-radius: 100%;
        border: 3px solid rgba(255, 255, 255, 0.9);
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin-bottom: 10px !important;
        z-index: 99;
        position: relative;
        span {
            &:first-child {
                font-size: 35px;
                font-weight: bold;
                margin-bottom: -5px;
            }
            &:last-child {
                font-size: 18px;
            }
        }
    }
}

@media only screen and (min-width: 1366px) {
    .noel {
        h1 {
            font-size: 80px;
            margin-top: -15px;
            letter-spacing: 5px;
        }
        &__wraper {
            width: 100%;
            display: flex;
            justify-content: center;
            p {
                margin: 0 15px;
            }
        }
        &__day, &__hour, &__minute, &__second {
            width: 170px;
            height: 170px;
            border-width: 5px;
            margin-bottom: 0;
            span {
                &:first-child {
                    font-size: 60px;
                    margin-bottom: -10px;
                }
                &:last-child {
                    font-size: 30px;
                }
            }
        }
    }
}
